# Ignore system files and directories
AppData/
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/


# Ignore node_modules directory (if using Node.js)
node_modules/

# Ignore build directories
build/
dist/

# Ignore environment variables
.env
